body {
  background-color: #000000 !important;
  color: #333333 !important;
  padding-bottom: 60px;
  padding-top: 70px;
}
.site-header {
  background-color: #F5F8F6;
  text-align: center;
  margin-top: 1rem;
}
.site-header .display-4,
.site-header .lead {
  background: linear-gradient(90deg, #2ba757 0%, #06c006 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent !important;
  display: inline-block;
}
.site-header .lead {
  font-weight: 500;
}
.card-section {
  background-color: #E8F5E9;
  color: #333333;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.btn-success {
  background-color: #2E7D32;
  border-color: #2E7D32;
  color: #fff;
}
.btn-success:hover {
  background-color: #A5D6A7;
  color: #121A12;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background-color:#198754;
  color: #fff;
  z-index: 4;
}